.aboutcss {
  padding: 3rem;
  margin: 2rem auto;
  max-width: 800px;
  text-align: justify;
}

.aboutcss h1 {
  font-size: 2rem;
  color: #6EACDA;
  margin-bottom: 1.5rem;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

/* Hover effect for the main heading */
.aboutcss h1:hover {
  transform: translateY(-10px);
  color: #186ab4;
}

/* Subheading */
.aboutcss h2 {
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #6EACDA;
}

/* Paragraph */
.aboutcss p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: #FAF9F6;
}

/* Education list */
.aboutcss ul {
  list-style-type: disc;
  margin-left: 2rem;
  font-size: 1.1rem;
  color: #FAF9F6;
}

.aboutcss li {
  margin-bottom: 0.5rem;
}

/* Resume link */
.resume-link {
  font-size: 1rem;
  text-decoration: none; /* Removes underline */
  color: #007acc; /* Matches the design pattern */
  font-weight: 500; /* Makes the link stand out */
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth hover effect */
}

.resume-link:hover {
  color: #186ab4; /* Changes color on hover */
  transform: scale(1.1); /* Slightly enlarges the link */
}

/* Work experience list */
.aboutcss ul {
  list-style-type: none; /* Removes bullet points for work experience */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}

.aboutcss ul li {
  margin-bottom: 1.5rem; /* Space between work experiences */
  font-size: 1rem;
}

.aboutcss ul li p {
  margin-top: 0.5rem; /* Space between job title and description */
  color: #FAF9F6; /* Text color for descriptions */
  line-height: 1.6; /* Improves readability */
}

/* Style for company links */
.company-link {
  text-decoration: none; /* Removes underline */
  color:  #FAF9F6; /* Matches the design pattern */
  font-weight: 500; /* Makes the link stand out */
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth hover effect */
}

.company-link:hover {
  color: #186ab4; /* Changes color on hover */
  transform: scale(1.1); /* Slightly enlarges the link */
}
