.site-footer {
  position: fixed; /* Keep the footer fixed at the bottom */
  bottom: 0; /* Aligns to the bottom of the viewport */
  right: 0; /* Aligns to the right of the viewport */
  background-color: #03346E;
  width: 100%; /* Full width of the viewport */
  padding: 10px 20px; /* Padding for better appearance */
  text-align: right; /* Aligns the content to the right */
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
  font-size: 14px; /* Adjust text size */
  z-index: 1000; /* Ensures the footer is on top of other elements */
}

.site-footer p {
  margin: 0; /* Remove default margin */
  color: #FAF9F6;
}
